Ini adalah teks

In [9]:
# basic function
print("Hello")

Hello

In [10]:
# mathematical operation
2 + 3

5

In [11]:
# string operation
first_name = "Psycho"
last_name = "linguistics"
first_name + last_name

'Psycholinguistics'

In [12]:
# mathematical operation
import math
math.sqrt(487)

22.06807649071391

In [15]:
# string operation
var_new = "ade" * 12
print(f"The value is {var_new}, and the length is {len(var_new)} characters.")

The value is adeadeadeadeadeadeadeadeadeadeadeade, and the length is 36 characters.

In [16]:
5 == 5

True

In [17]:
89 >= 4

True

In [18]:
value_a = 3
if value_a >= 4:
    print("alright!")
else:
    print("meeh!")

meeh!

In [ ]:
awalan = "me"
akhiran = "kan"
kata = ["makan"]